@font-face {
  font-family: "Iosevka";
  src: url("/fonts/IosevkaNerdFontMono-Regular.ttf") format("truetype");
  font-weight: normal;
}

:root {
  --bg-color: #030613;
  --text-color: #f0f7f4;
  --accent-color: #99e1d9;
}

* {
  font-family: "Iosevka", monospace;
}

body {
  max-width: 480px;
  width: 90%;
  margin: auto;
  position: relative;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-top: 20px;
}

.sym {
  color: var(--accent-color);
}

.lang {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.lang::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background-color: var(--accent-color);
  color: var(--bg-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.5em;
  white-space: nowrap;
  margin-bottom: 5px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  pointer-events: none;
}

.lang:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.lang[data-lang="rust"]::after {
  content: "\f1617";
}

.lang[data-lang="solidity"]::after {
  content: "\e8a6";
}

.lang[data-lang="go"]::after {
  content: "\e626";
}

ul {
  list-style-type: none;
  padding-left: 5%;
}

.list {
  height: auto;
}

a {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

footer p {
  font-size: x-small;
}

.div-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--accent-color);
  top: 0.5rem;
  left: -21px;
  transition: all 0.2s;
  border-radius: 50%;
}

li {
  position: relative;
  margin-bottom: 10px;
}

li:has(a:hover)::before,
.logo:hover,
body:has(.logo:hover) li::before {
  border-radius: 0%;
}

li:has(a:active)::before,
.logo:active,
body:has(.logo:active) li::before {
  background: #f43841;
  border-radius: 0%;
  transform: rotate(45deg);
}
