@font-face {
  font-family: "Iosevka";
  src: url("/fonts/IosevkaNerdFontMono-Regular.ttf") format("truetype");
  font-weight: normal;
}

* {
  font-family: "Iosevka", monospace;
}

body {
  max-width: 480px;
  width: 90%;
  margin: auto;
  position: relative;
  background-color: #030613;
  color: #f0f7f4;
  margin-top: 20px;
}

.sym {
  color: #99e1d9;
}

.back {
  color: #99e1d9;
}

footer p {
  font-size: x-small;
}
