@font-face {
    font-family: 'Iosevka';
    src: url('/fonts/IosevkaNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
}

* {
    font-family: 'Iosevka', monospace;
}

body {
    max-width: 480px;
    width: 90%;
    margin: auto;
    position: relative;
    background-color: #030613;
    color: #F0F7F4;
    margin-top: 20px;
}

.sym {
    color: #99E1D9;
}
