/* STYLE.CSS */

@font-face {
    font-family: 'Albus';
    src: url('../fonts/Albus.ttf') format('truetype');
}

body{
    background-color: rgba(255, 255, 0, 0.159);
}

a{
    text-decoration: none;
    color: black;
}

.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img{
    height: auto;
    width: 50px;
    padding-left: 15px;
}

.logo-github-link{
    text-decoration: none;
}

.logo-text{
    font-family: 'Albus', sans-serif;
    font-size: 20px;
    color: rgb(96, 55, 55);
    margin-left: 5px;
    padding-bottom: 10px;
    margin-top: 16px;
}

.head-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-right: 40px;
}

.header-button{
    font-family: 'Albus', sans-serif;
    font-size: 20px;
    border: none;
    transition: 0.15s;
    background-color: rgba(255, 255, 0, 0);
}

.header-button:hover{
    color: rgb(97, 95, 69);
    background-color: rgba(255, 255, 0, 0);
    cursor: pointer;
}
