/* STYLE.CSS */

@font-face {
    font-family: 'Albus';
    src: url('../fonts/Albus.ttf') format('truetype');
}

.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img{
    height: auto;
    width: 50px;
    margin-left: 9px;
}

.logo-github-link{
    text-decoration: none;
}

.logo-text{
    font-family: 'Albus', sans-serif;
    font-size: 20px;
    color: rgb(96, 55, 55);
}



